#services-section {
    height: 100vh;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
}

.services-section-title {
   color:#6C0C0F;
}

.services-con {
    height: 100%;
    display: flex;
    justify-content: center;
}

.services-text-wrap {
    width: 60%;
    margin-top: 5px;
}

.services-text-con {
    margin-top: 15px;
}

.services-text-con img {
    width: 24px;
}

.services-text-con .services-text {
    font-size: 30px;
    color:#00BF63;
    font-weight: bold;
    margin-left: 8px;
}

@media only screen and (max-width: 768px) {



    .services-text-wrap {
        width: 60%;
        margin-top: 30px;
    }
    
    .services-text-con img {
        width: 18px;
    }
    
    .services-text-con .services-text {
        font-size: 18px;
        color:#00BF63;
        font-weight: bold;
    }
}


@media only screen and (max-width: 575px) {

    #services-section {
        height: fit-content;
        width: 100%;
    
    }

    .services-text-wrap {
        width: 100%;
        margin: 0 !important;
        padding: 0;
    }

    .services-text-con {
        margin: 0 !important;
        padding: 0;
    }

    .services-text {
        font-size: 15px;
        margin-left: 20px;
    }
    
    .services-text-con img {
        width: 15px;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .services-text-con .services-text {
        font-size: 15px;
        color:#00BF63;
        font-weight: bold;
        margin-top: 20px;
    }
}



 
